* {
    font-family: 'Permanent Marker', cursive;
    background-position: cover;
    background-repeat: no-repeat;
    
}



.game-header {
    background-image: url('./images/Ryu-background.jpg');
    
    padding: 0px 0px 0px 0px;
}




#start-button {
    background-color: transparent;
    border-color: transparent;
}

.instructions{
    font-size: 30px;
    padding: 65px 0 0 240px;
    color: black;
    text-shadow: 10%;
    text-decoration: underline;
    text-decoration-color: red;
}
.logo-img {
    width: 350px;
    padding-left: 300px;
  }


  ctx.strokeText {
      color: white;
    
    }
    .icons {
        padding-left: 330px;
    }

    .icons img {
        height: 150px;
        width: 150px;
    }




#stage {
    
    padding: 40px 100px 0 118px;
    background: url(./images/Ryu-stage.png);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: center;
    width: 78vw;
    height: 126vh;
    margin: 20px;
}
    



h1 {
    padding-left: 300px;
    text-decoration: underline;
    text-decoration-color: gold;
    font-size: 50px
}


  

  canvas{
      
      background-color: transparent;
      border-color: transparent;
  }